.form{
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
}
.form label{
    margin-top: 15px;
}
.rules{
    color: #1749B3;
}
.approval{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    padding-top: 7px;
}
.approval_text{
    width: 300px;
}
.msg{
    font-size: 14px;
    height: 14px;
    color: rgb(255, 0, 0);
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.btn{
    margin-top: 10px;
}

.loader{
    position: absolute;
    right: 5px;
    top: -85px;
}